body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(55, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u6479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6480 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:30px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6483 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:20px;
  height:20px;
}
#u6484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6485 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:33px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6487 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:35px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
#u6489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:603px;
}
#u6490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:425px;
}
#u6492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:375px;
  height:425px;
}
#u6493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:204px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6495 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:64px;
  width:72px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:261px;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:375px;
  height:261px;
}
#u6498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:406px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
