body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:221px;
  width:375px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:265px;
  width:375px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:81px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:146px;
  height:19px;
}
#u12644p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:140px;
  height:4px;
}
#u12644p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:142px;
  height:6px;
}
#u12644p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u12644p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u12644p002 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12644p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12644.compound {
  width:0px;
  height:0px;
}
#u12644 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:202px;
  width:137px;
  height:1px;
}
#u12645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12646 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:195px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u12647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
