body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u12264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u12265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:603px;
  overflow:hidden;
  touch-action:none;
}
#u12266_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12266_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12267 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12267_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:759px;
  background-image:none;
}
#u12267_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:759px;
}
#u12268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:759px;
}
#u12269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:81px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
